<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>mod</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Movie-MOD</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>MOD</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSIsAppleDefaultForType</key>
			<string>Yes</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>aac</string>
				<string>adts</string>
			</array>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>audio/aac</string>
				<string>audio/x-aac</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Audio-AAC</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>aifc</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Audio-AIFC</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>AIFC</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>aiff</string>
				<string>aif</string>
			</array>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>audio/aiff</string>
				<string>audio/x-aiff</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Audio-AIFF</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>AIFF</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>au</string>
				<string>ulw</string>
				<string>snd</string>
			</array>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>audio/basic</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Audio-AU</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>ULAW</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>caf</string>
			</array>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>audio/x-caf</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Audio-CAF</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>caff</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>gsm</string>
			</array>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>audio/x-gsm</string>
				<string>audio/vnd.qcelp</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Audio-GSM</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>celp</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>kar</string>
				<string>mid</string>
				<string>smf</string>
				<string>midi</string>
			</array>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>audio/mid</string>
				<string>audio/midi</string>
				<string>audio/x-midi</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Audio-MIDI</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>Midi</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>mp3</string>
				<string>swa</string>
			</array>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>audio/x-mp3</string>
				<string>audio/mp3</string>
				<string>audio/x-mpeg3</string>
				<string>audio/mpeg3</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Audio-MP3</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>Mp3 </string>
				<string>SwaT</string>
				<string>MPG3</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>wav</string>
			</array>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>audio/x-wav</string>
				<string>audio/wav</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Audio-WAV</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>WAVE</string>
				<string>.WAV</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>bmp</string>
			</array>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>image/x-bmp</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Image-BMP</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>BMPf</string>
				<string>BMPp</string>
				<string>BMP </string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>fpx</string>
				<string>fpix</string>
			</array>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>image/vnd.fpx</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Image-FPX</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>FPX </string>
				<string>FPix</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>gif</string>
			</array>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>image/gif</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Image-GIF</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>GIFf</string>
				<string>GIF </string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>jp2</string>
				<string>mj2</string>
			</array>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>image/jp2</string>
				<string>video/mj2</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Image-JP2</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>jp2 </string>
				<string>mjp2</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>jpeg</string>
				<string>jpg</string>
				<string>jpe</string>
			</array>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>image/jpeg</string>
				<string>image/pjpeg</string>
				<string>image/jpeg</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Image-JPEG</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>JPEG</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>pntg</string>
				<string>pnt</string>
				<string>mac</string>
			</array>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>image/x-macpaint</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Image-MacPaint</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>PNTG</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>pct</string>
				<string>pic</string>
				<string>pict</string>
			</array>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>image/pict</string>
				<string>image/x-pict</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Image-PICT</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>PICT</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Image-QuickdrawGX</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>qdgx</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>png</string>
			</array>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>image/png</string>
				<string>image/x-png</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Image-PNG</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>PNGf</string>
				<string>PNG </string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>psd</string>
			</array>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>image/x-photoshop</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Image-PSD</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>8BPS</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>qtif</string>
				<string>qti</string>
			</array>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>image/x-quicktime</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Image-QTIF</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>qtif</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>sgi</string>
				<string>rgb</string>
			</array>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>image/x-sgi</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Image-SGI</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>.SGI</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>targa</string>
				<string>tga</string>
			</array>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>image/x-targa</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Image-TARGA</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>TPIC</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>tiff</string>
				<string>tif</string>
			</array>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>image/tiff</string>
				<string>image/x-tiff</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Image-TIFF</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>TIFF</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>3gp</string>
			</array>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>audio/3gpp</string>
				<string>video/3gpp</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Movie-3GPP</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>3gpp</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>3g2</string>
			</array>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>audio/3gpp2</string>
				<string>video/3gpp2</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Movie-3GPP2</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>3gp2</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>amc</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Movie-AMC</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>amc </string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>avi</string>
				<string>vfw</string>
			</array>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>video/x-msvideo</string>
				<string>video/msvideo</string>
				<string>video/avi</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Movie-AVI</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>VfW </string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>divx</string>
				<string>tix</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Movie-DivX</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>DIVX</string>
				<string>tix </string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSIsAppleDefaultForType</key>
			<string>Yes</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>dif</string>
				<string>dv</string>
			</array>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>video/x-dv</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Movie-DV</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>dvc!</string>
				<string>DVSF</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>fli</string>
				<string>flc</string>
			</array>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>video/flc</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Movie-FLC</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>FLI </string>
				<string>FLC </string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>mkv</string>
			</array>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>video/x-matroska</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Video-Matroska</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>mp2</string>
				<string>m1s</string>
				<string>m75</string>
				<string>m15</string>
				<string>m2p</string>
				<string>m2s</string>
				<string>mpg</string>
				<string>mpeg</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Movie-MPEG</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>MPEG</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>mp4</string>
				<string>mpg4</string>
				<string>mqv</string>
			</array>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>audio/mp4</string>
				<string>video/mp4</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Movie-MPEG4</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>mpg4</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>qtz</string>
			</array>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>application/x-quartzcomposer</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Movie-QTZ</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>mov</string>
				<string>qt</string>
				<string>qtl</string>
			</array>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>application/x-quicktimeplayer</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Movie-QuickTime</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>MooV</string>
				<string>moov</string>
				<string>qtlk</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>rtsp</string>
				<string>rts</string>
			</array>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>application/x-rtsp</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Movie-RTSP</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>RTSP</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>sd2</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Movie-SD2</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>Sd2f</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>sdp</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Movie-SDP</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>SDP </string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>sml</string>
			</array>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>application/smil</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Movie-SMIL</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>.SMI</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>m1a</string>
				<string>mpa</string>
				<string>mpm</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Audio-MPEG1</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>MPG </string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>m1v</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Video-MPEG1</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>BINA</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>m2v</string>
			</array>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>video/mpeg2</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Video-MPEG2</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>m2v </string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>m4a</string>
			</array>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>audio/x-m4a</string>
				<string>audio/x-m4v</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Audio-MPEG4</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>M4A </string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>m4p</string>
				<string>m4b</string>
			</array>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>audio/x-m4p</string>
				<string>audio/x-m4b</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Audio-MPEG4 (Protected)</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>M4P </string>
				<string>M4B </string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>m4v</string>
			</array>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>video/x-m4v</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Video-MPEG4</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>M4V </string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>amr</string>
			</array>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>audio/amr</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Audio-AMR</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>amr </string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>cdda</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Audio-CDDA</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>CDDA</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>dvd</string>
				<string>atr</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Movie-VDU</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>mxfd</string>
				<string>attr</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>sdv</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Video-SD</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>sdv </string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>txt</string>
				<string>text</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Text</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>TEXT</string>
				<string>????</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>pdf</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>PDF</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>pls</string>
				<string>m3u</string>
				<string>m3url</string>
			</array>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>audio/mpegurl</string>
				<string>audio/x-mpegurl</string>
				<string>audio/scpls</string>
				<string>audio/x-scpls</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Playlist</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Cache</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>Cach</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Metadata-QMED</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>qmed</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>wmv</string>
				<string>wm</string>
				<string>wmp</string>
			</array>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>video/x-ms-wmv</string>
				<string>video/x-ms-wm</string>
				<string>video/x-ms-wmp</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>wmv</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>ASF_</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>asf</string>
			</array>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>video/x-ms-asf</string>
				<string>video/x-ms-asf-plugin</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>asf</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>ASF_</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>asx</string>
				<string>wmx</string>
			</array>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>video/x-ms-asx</string>
				<string>video/x-ms-wmx</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>asx</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>ASX_</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>wvx</string>
			</array>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>video/x-ms-wvx</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>wvx</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>ASX_</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Folder</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>fold</string>
				<string>disk</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>flv</string>
				<string>f4v</string>
			</array>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>video/x-flv</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Flash video</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>FLV </string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIconFile</key>
	<string>Icon.icns</string>
	<key>CFBundleIdentifier</key>
	<string>com.cemacsoft.${PRODUCT_NAME:rfc1034identifier}</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>2.6</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>2.6</string>
	<key>HandBrakePresets</key>
	<array>
		<string>Universal</string>
		<string>iPod</string>
		<string>iPhone &amp; iPod Touch</string>
		<string>iPhone4</string>
		<string>iPad</string>
		<string>AppleTV</string>
		<string>AppleTV 2</string>
		<string>Normal</string>
		<string>High Profile</string>
		<string>Classic</string>
		<string>AppleTV Legacy</string>
		<string>iPhone Legacy</string>
		<string>iPod Legacy</string>
	</array>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.video</string>
	<key>LSMinimumSystemVersion</key>
	<string>${MACOSX_DEPLOYMENT_TARGET}</string>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>SUFeedURL</key>
	<string>https://www.osomac.com/appcasts/handbrakebatch/HandBrakeBatch.xml</string>
</dict>
</plist>
